@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Pathway+Gothic+One&display=swap');
@import url('https://fonts.cdnfonts.com/css/batman-forever');

.startBox {
    display: block;
}

.cassandraBox {
    display: none;
}

.jasonBox {
    display: none;
}

.timBox {
    display: none;
}

.graysonBox {
    display: none;
}

body {
    text-align: center;
    background-color: #CAE5ff;
}

.justText {
    background-color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    border: 3px solid #6F8AB7
}

h1 {
    color: #615D6C;
    padding-top: 1%;
    padding-bottom: 1%;
    /* margin-left: 50%;
    margin-right: 50%; */
    text-align: center;
    font-family: 'BatmanForeverAlternate', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #615D6C;
    border: 3px solid #6F8AB7;
    padding-top: 1%;
    padding-bottom: 1%;
}

a {
    display: flex;
    justify-content: space-around;
    align-items: center;font-family: "Pathway Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #CAE5ff;
    text-decoration: none
}

.secretNav {
    color: #6F8AB7;
}

h2 {
    color: #6F8AB7;
    font-family: 'BatmanForeverAlternate', sans-serif;
}

p {
    color: #6F8AB7;
    font-family: "Comic Neue", cursive;
    font-weight: bold;
    font-style: normal;
}

input {
    width: 33%;
    transition: width 0.4s ease-in-out;
    font-weight: bold;
  }
  
input:focus {
    width: 50%;
    background-color: #CAE5ff;
    font-weight: bold;
}

button {
    padding: 2%;
    border: 3px solid #6F8AB7;
    background-color: #615D6C;
    color: #CAE5ff;
    border-radius: 20%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.helldiver {
    width: 99%;
    border: 3px solid #6F8AB7;
}

img {
    align-self: center;
    width: 33%;
}

.cassCain {
    width: 50%;
}

.wayneFamily {
    width: 100%;
    padding-top: 1%;
}